section{
    display: flex;
    align-items: center;
   

}
#cadeadoPequeno{
   width: 40px;
   height: 40px;
   padding-right: 15px;
   padding-top: 10px;
   
    
    
}
.conteiner-logo{
    display: flex;
    align-content: fl;
}
.caixa-texto{
    width: 110%;
    border-radius: 5px;
    height: 4vh;

}
.txt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}
#Blogin{
    width: 35vw;
    display: flex;
    border-radius: 10px;
    background-color: green;
    color: aliceblue;
    height: 4vh;
}